.board {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    /* grid-template-columns: repeat(15, 75px);
    grid-template-rows: repeat(15, 75px); */
    gap: 1px;
    background: #f6f6f6;
    padding: 10px;
    width: max-content;
}

.board .tile {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 231, 231);
}

.board .tile img {
    width: 100%;
    height: 100%;
}

.board .tile.r-90 img {
    transform: rotate(90deg);
}

.board .tile.r-180 img {
    transform: rotate(180deg);
}

.board .tile.r-270 img{
    transform: rotate(270deg);
}