################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/server/.vs/Carcassonne/v17/.suo
/server/.vs/Carcassonne/FileContentIndex
