{% extends "layout.html" %}

{% block sidebar %}
<div class="list-group list-group-flush border-bottom scrollarea">
    {% for player in players %}
    <div class="list-group-item list-group-item-action player">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="badge" style="background-color: {{ player.color }};">{{ player.name }}</strong>
        </div>
        <div class="score">Score: {{ player.score }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block main %}
<div class="board" style="display: grid; grid-template-columns: repeat({{ cols }}, 75px); grid-template-rows: repeat({{ rows }}, 75px); gap: 1px;">
    {% for move in moves %}
    <div class="tile r-{{move.rotation.value}}" style="grid-column: {{move.location.x + offsetX}}; grid-row: {{move.location.y + offsetY}};">
        <img src="old-tiles/{{move.tile.img}}">
    </div>
    {% endfor %}
</div>
{% endblock %}