.board {
    width: max-content;
    height: max-content;
    position: relative;
    display: grid;
    background: #f6f6f6;
    overflow: auto;
    display: grid; 
    gap: 1px;
}

.board .tile {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 231, 231);
}

.board .tile img {
    width: 100%;
    height: 100%;
}

.board .tile.r-90 img {
    transform: rotate(90deg);
}

.board .tile.r-180 img {
    transform: rotate(180deg);
}

.board .tile.r-270 img {
    transform: rotate(270deg);
}